body {
    background-color: bisque;
    height: 100vh;
    margin: 0px;
}

.fomenupont {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    background-color: lightsalmon;

    font-variant: small-caps;
display: inline-block;
text-align: center;
font-weight: bold;
}

.fomenupont>li {
    float: left;
}



.fomenupont>li {
    width: 300px;
    padding: 10px;
    font-size: 2rem;
}


.fomenupont>li:hover {
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.fomenupont>li:hover .almenupont {
    display: block;
}

.almenupont:hover .alalmenupont {
    display: block;
}
.almenupont, .alalmenupont {
    display: none;
}